<tw-storydata name="TOJamStory" startnode="1" creator="Twine" creator-version="2.1.3" ifid="12FE191C-A28A-455E-907F-1E3524B98DC5" format="Harlowe" format-version="2.0.1" options="" hidden><style role="stylesheet" id="twine-user-stylesheet" type="text/twine-css">



</style><script role="script" id="twine-user-script" type="text/twine-javascript">



</script><tw-passagedata pid="1" name="Start " tags="" position="226,140">Splash screen etc.

[[Enter Tavern]]

</tw-passagedata><tw-passagedata pid="2" name="Enter Tavern" tags="" position="517,139">Eons ago before countless nations arose and crumbled to ash, an Age of Darkness crept forward. A prophet claimed a hero, forged from the hammer of jugement and virtue, would rise to battle the forces of darkness. A hero who defeated Gods of Chaos and any man alike was destined to carry the realm into a new era of light upon their hallowed shoulders.

In a tavern, a humble hero from a small village entered a tavern. This hero was destined for greatness.

The tavern was a humble one. Quaint family tapestries adorned the walls, the damp musk of ale hung in the air, and the walls echoed until the late hours of the night with the laughter of man and woman alike.

But all was not well in this unassuming hamlet, as the sound of horse hoovess clamoured loudly upon the sullen road outdoors...

[[Given Quest]]

[[Confirmation]]</tw-passagedata><tw-passagedata pid="3" name="Find &amp; Kill Dragon" tags="" position="1421,142">The hero approached the powerful beast, the remains of other hapless travelers strewn about the stoney battleground which was her cave. Stalwart as they had been since their acceotance of the noble quest in the tavern, the hero sprung upon a nearby rock, drawing their weapon to ready to ready it upon the beast&#x27;s neck. 

But the Dragon awoke with a fiery roar, rearing her head as the cave shook violently beneath the pair of rivals. Its deep oange eyes locked on to the hero as they held their weapon at the ready, their eyes meeting its. 

At no time in all of history would a more epic battle rage between two foes, but it was nearing the climax. The Dragon, perhaps in her complete awe of the hero&#x27;s fearless nature, seemed hesitant to act, forcing the hero to do so first. 

The peerless rivals were engaged in a mighty standoff, but the hero undoubtedly decided it was time to act first lest the Dragon get the jump on them. They raised their weapon high AAAAAAAANNNNNNNNNNNDDDDDDDD............. 

[[Rewarded By King Main]]

[[Dragon Standoff A]]</tw-passagedata><tw-passagedata pid="4" name="Enter Cave" tags="" position="1116,219">Twas not long before our hero discovered the dragon&#x27;s den by following the dragon&#x27;s evil magic emanating from within.

From deep inside, a small craqck which seemed to tear open the side of the earth ran along the edge of the cavern which descended down into darkness down below.

Beyond the crack, a poorly made wooden door sat next to it, one which seemed to have been formed from a number of pieces of driftwood secured haphazardly with hempen rope.

But the true evil was in the back of the cave, where the mighty dragon lie in wait in the den ahead. Its eyes were shut tight as it blew hot, mighty breath through the winding tunnels towards the hero.



//
Three-branch path

If third option
[[Find &amp; Kill Dragon]]

If Option A
[[Hell Path A]]

If Option B
[[Goblin Path A]]
</tw-passagedata><tw-passagedata pid="5" name="Rewarded By King Main" tags="" position="1707,198">The Dragon dodged to and fro as it struggled to fight against the hero who gashed a wound repeatedly across the neck of the beast. After many blows and several close calls, the dragon fell, its blood spilling across the floor of the cave as it fell silent. 

Returning to the small village, the hero presented the royal-looking man with the head of the Dragon. The noble man gasped and commanded aloud:

&quot;All who gaze upon this hero and their mighty feat must hereby acknowledge their greatness! The King hereby bequeaths them one large tract of land and a seat upon his personal counsel!&quot;

The people of the village cheered uproarously as the hero raised the head high into the air. Lowly peasants and serfs alike sprung from within their homes to pay homage to the hero, mighty slayer of the Dragon who made their quaint village safe for all of time.

[[END]]




IF the alt ending boolean = true

[[ALT END]]</tw-passagedata><tw-passagedata pid="6" name="Confirmation" tags="" position="494,340">What-

I understand it is quite a lot of exposition and may not be starting the most interesting. 

Look just bear with me and play along and I swear the payoff will be great.

[[Condensed Story]]

[[TriggerAltEnd]]</tw-passagedata><tw-passagedata pid="7" name="TriggerAltEnd" tags="" position="628,345">*clears throat*

Good then - let us continue.

[[Given Quest]]</tw-passagedata><tw-passagedata pid="8" name="Condensed Story" tags="" position="508,576">OHHH fine, if you&#x27;re not going to play along and insist on being a little jerk then here&#x27;s the whole story:

The hero gets called on to kill a dragon - that&#x27;s right, a DRAGON - and they do. Then the king gives them a TON of gold and they become world famous. 

It&#x27;s great and there&#x27;s a bunch of cool fight scenes and it&#x27;s really atmospheric but CLEARLY you&#x27;re too busy to even play this.

If you really want to try again and you know, actually play it like a civilized human being then fine, but how about you wait for me to finish?

Otherwise have fun doing whatever was SO important that you couldn&#x27;t take *five minutes* to play a game, idiot.

[[END]]</tw-passagedata><tw-passagedata pid="9" name="Given Quest" tags="" position="818,218">A man strode across the tavern from the torrential downpour which reigned outdoors. He stepped upon a stool which brought him upon a table as he gazed upon his audience with scrutiny.

His armour, adorned with medals and honours, was only half as splendrous and magnificent as the man he obeyed - the Emperor of the land himself. The silk cape mounted upon his shoulders stood as a symbol of his fealty to his lord, the royal banner emblazoned upon the iron which formed to his chest. He was nothing short of royal.

The hero in all their timeless glory, laid down their goblet upon the table and rose to view the man&#x27;s glory. Any knew the hero feared not the rigors of any man, and they brushed the poor farmers aside to make their way toward the embellished man upon the table.

Upon the royal man&#x27;s examination of the lowly serfs who toiled and oggled about the room, the figure extended an arm, voice booming across the walls of the building.

&quot;Peasants!If any among you think of yourselves as men or women of power, splendor or ambition - let it be known he seeks a mighty hero who may lay waste to the Dragon who lives deep within the Volcano of Hate. If you are one of dignity and judgement, I plea you step forward!&quot;

The hero fearlessly stood to the foot of the table as the menial labourers all cowered to the corners of the bar. 

&quot;YOU, hero, have been honoured to take upon this task of glory and bring the head of the dreadful beast all in the name of your Emperor!&quot;







[[Enter Cave]]

[[CUP A]]</tw-passagedata><tw-passagedata pid="10" name="END" tags="" position="1796,1146">Thanks for playing, credits, loop to start screen</tw-passagedata><tw-passagedata pid="11" name="CUP A" tags="" position="818,339">Erm...okay.

The hero picked up the goblet, aquiring an (absolutely temporary) preoccupation with the object for the time being. They turned it over in the hallowed lamplight of the tavern above.

Unfortunately, the temporary fasination with the item soon passed, and the hero approached the embellished man who stood nobly upon the table:

Upon the royal man&#x27;s examination of the lowly serfs who toiled and oggled about the room, the figure extended an arm, voice booming across the walls of the building.

&quot;Peasants!If any among you think of yourselves as men or women of power, splendor or ambition - let it be known he seeks a mighty hero who may lay waste to the Dragon who lives deep within the Volcano of Hate. If you are one of dignity and judgement, I plea you step forward!&quot;

The hero fearlessly stood to the foot of the table as the menial labourers all cowered to the corners of the bar. 

&quot;YOU, hero, have been honoured to take upon this task of glory and bring the head of the dreadful beast all in the name of your Emperor!&quot;

[[Enter Cave]]

[[CUP B]]</tw-passagedata><tw-passagedata pid="12" name="CUP B" tags="" position="817,540">But the hero JUST COULDN&#x27;T SEEM TO SHAKE the whole **goblet** fascination as they stood by the table once again, turning it over in their hands. They watched as it glimmered, small cheap and purely decorative gems which were absolutely worthless were embedded into the curavture of the piece. It was truely an interesting item - for a small tavern of course.

But alas the hero&#x27;s *temporary* distraction ended as they returned to the man upon the table. 

Upon the royal man&#x27;s examination of the lowly serfs who toiled and oggled about the room, the figure extended an arm, voice booming across the walls of the building.

&quot;Peasants!If any among you think of yourselves as men or women of power, splendor or ambition - let it be known he seeks a mighty hero who may lay waste to the Dragon who lives deep within the Volcano of Hate. If you are one of dignity and judgement, I plea you step forward!&quot;

The hero fearlessly stood to the foot of the table as the menial labourers all cowered to the corners of the bar. 

&quot;YOU, hero, have been honoured to take upon this task of glory and bring the head of the dreadful beast all in the name of your Emperor!&quot;

[[CUP C]]


If left

[[Enter Cave]]</tw-passagedata><tw-passagedata pid="13" name="CUP C" tags="" position="823,705">...fine.

The hero, so enamoured with the presence of the **goblet** continued to fawn over it in sheer, childlike fascination. In fact, they went so far as to abandon the tavern, and the important looking man who probably had a very important thing to tell them to instead obsess over the stupid goblet nonstop.

Weeks, months, years passed. And the hero was all alone with their goblet in some disgusting hovel in the middle of a forest or something. 

The good part about everyone you know and love - friends, family and neighbours all dying from the encroaching Age of Darkness is you don&#x27;t have to worry about any of them interrupting your stupid pasttimes, you *stupid*, **petty** cup hobbiest.




[[END]]</tw-passagedata><tw-passagedata pid="14" name="Goblin Path A" tags="" position="1318,457">The hero took it upon themselves to explore beyond the makeshift door. Beyond it awaited the foul odour of dung and blood, the cave belonging to Argoth-Ul - the King of the Goblins.  

The Goblin King sat upon his throne balanced upon a pyramid of feces, pettier goblins grovelling at his feet. He prclaimed an announcement in his native tongue at which the other goblins sprung forth to battle the hero.


If left

[[Find &amp; Kill Dragon]]


If not
[[Goblin Path B]]</tw-passagedata><tw-passagedata pid="15" name="Hell Path A" tags="" position="1097,418">The crevice wasn&#x27;t *really* of note, but something about it seemed to draw the hero&#x27;s attention. Perhaps it was the infinite-seming blackness beyond the opening, or the sudden chill the hero felt down their spine.

Either way, the path didn&#x27;t really seem *that* interesting, so true to nature the hero turned back onto the previous path to face the *true* evil in the back of the cave, where the vile dragon lie in wait in the den ahead. Its eyes were shut tight as it blew hot, mighty breath through the winding tunnels towards the hero.




If left
[[Find &amp; Kill Dragon]]

[[Hell Path B]]</tw-passagedata><tw-passagedata pid="16" name="Hell Path B" tags="" position="1096,618">The...the hero presisted despite the sheer horrible darkness which practically dripped from the walls which told them not to. They had second thoughts, wondering whether a little bit of curiousity was worth going down a path which they *clearly* were not meant to be.

That was indeed enough of an indicator that while this tunnel may lead somewhere, it was nothing near as cool as fighting a dragon and it was be entirely within their benefit to turn around. They did so, returning to the front tunnel and following towards the back of the cave, where the vile dragon lie in wait in its den. Its eyes were shut tight as it blew hot, mighty breath through the winding tunnels towards the hero.



[[Find &amp; Kill Dragon]]

[[Hell Path C]]</tw-passagedata><tw-passagedata pid="17" name="Hell Path C" tags="" position="1048,819">The hero continued along the path despite absolute fair warning that it was a bad path to be going down and wouldn&#x27;t end well for them.

And ohhhhh look, sure enough the path brought them to a pair of masterfully carved obsidian gates which bore the face of a large skull with hellish horns. The hero, though their knowledge of even the most basic things like *following orders* was limited, soon realized these were no ordinary doors - they were the gates of Hell.

And despite a hero being destined to fell the same Gods of Chaos it seemed like today was just not their day as they soon found themselves surrounded by demons and pulled down into the underworld. Actually, now that I think about it, this wasn&#x27;t the hero of light at all but was jut another adventurer who got lost following a path they were blatantly not supposed to be going down and decided to see it play out instead of jut behaving like a normal human being and turning around when walking down a dark deep crevasse.


[[END]]</tw-passagedata><tw-passagedata pid="18" name="Goblin Path B" tags="" position="1313,567">But the hero was destined for greatness and wholly unphased. They swung their mighty weapon to decimate their opponents until every goblin lay in cowardice before them. A look of utmost fear moved acros the Goblin King&#x27;s brow as he exclaimed in his tongue once more, the goblins fleeing the cave for fear of his judgement.

Finally, the Goblin King sprung from his throne, attempting to run past the mighty hero who cleaved his head clean off in an arc in one fell motion. The hero, taking the head in hand, left the cave.  

[[Goblin Path C]]</tw-passagedata><tw-passagedata pid="19" name="Goblin Path C" tags="" position="1327,702">Upon returning to the small village, the hero presented the royal-looking man with the head of the Goblin King. The noble man gasped and commanded aloud:

&quot;All who gaze upon this hero and their mighty feat must hereby acknowledge their greatness! The King hereby bequeaths them one large tract of land and a seat upon his personal counsel!&quot;

The people of the village cheered uproarously as the hero raised the head high into the air. Lowly peasants and serfs alike sprung from within their homes to pay homage to the hero, mighty slayer of the Goblin King who made their quaint village safe for all of time.

Wait...wasn&#x27;t there something about a Dragon...?

[[END]]
</tw-passagedata><tw-passagedata pid="20" name="Dragon Standoff A" tags="" position="1518,419">*ahem*

The Dragon and the hero continued to stare down one another, a standoff that would go down through the ages as a pivitol moment in the fate of the entire realm.

Finally, when the hero decided it was time to act, they raised their sword with a vengence in preparation for the final attack. Now, they were definitely going to make a move...



[[Dragon Standoff B]]

or

[[Rewarded By King Main]] </tw-passagedata><tw-passagedata pid="21" name="Dragon Standoff B" tags="" position="1517,544">The....er...the Dragon, seeing as how the hero had still not attacked him, rose its voice in a loud roar as it extended its wings in a loud roar:

&quot;Are you a messenger of hate? Or something else? Why will you not fight me?&quot;

The hero, taking this as a challenge, *definitely* raised their weapon in a gesture to attack the beast, and definitely was going to jump into action to attack the monstrosity...

[[Dragon Standoff C]]</tw-passagedata><tw-passagedata pid="22" name="Dragon Standoff C" tags="" position="1619,669">*Sigh*

The hero refused to attack the Dragon, probably not out of mercy or fear, but pity. They lowered their weapon to return to its sheath.

The Dragon blew hot breath and moaned, &quot;You are the first of your kind who has not seeked to destroy me...come, I shall take you back to your people.&quot;

Upon the Dragon&#x27;s back did the hero ride back to the village, whereupon arriving the Dragon blew hot flame across the rooftops of the small serf&#x27;s hovels, engulfing man, woman and child in flame.

Because they decided not to attack a **dragon**.

[[END]]</tw-passagedata><tw-passagedata pid="23" name="ALT END" tags="" position="1906,149">The Dragon dodged to and fro as it struggled to fight against the hero who gashed a wound repeatedly across the neck of the beast. After many blows and several close calls, the dragon fell, its blood spilling across the floor of the cave as it fell silent. 

Upon returning to the small village, the hero presented the royal-looking man with the head of the Dragon. The noble man gasped and commanded aloud:

&quot;All who gaze upon this hero and their mighty feat must hereby acknowledge their greatness! The King has arrived in person to grant you one request, O powerful hero!&quot;

The people of the village cheered uproarously as the hero raised the head high into the air. Lowly peasants and serfs alike sprung from within their homes to pay homage to the hero, mighty slayer of the Dragon who made their quaint village safe for all of time.


The King arrived in his royal carriage, stepping upon a deep purple carpet unrolled by his servants. He came to a stop in front of the hero, raising his hands high in the air to decree:

&quot;O loyal hero! I shall grant you one request - immesurable fame or uncomparable wealth! What say you, mighty hero?&quot;

[[King End]]

[[Fame End]]

[[Money End]]</tw-passagedata><tw-passagedata pid="24" name="Money End" tags="" position="2107,350">The king nodded in approval, turning to the small onlooking crowd and proclaiming:

&quot;Here ye, here ye! This hero shall be be not only granted a generous share of land, but shall also be bestowed half the contents of my personal treasury as well as a generous monthly allowance until the end of their days!&quot;

From that day forth, the hero never wanted for anything ever again. Their lot in life secure, they strove day to day to live a life of virtue and judgement by the most extravagant means possible.


[[END]]</tw-passagedata><tw-passagedata pid="25" name="Fame End" tags="" position="2109,202">The king nodded in approval, turning to the small onlooking crowd and proclaiming:

&quot;Here ye, here ye! This hero shall be known among the most revered heros of our era - allow their name to forever go down in history with the title &quot;Dragon Slayer&quot; and a permanent seat in the council of high elders!&quot;

From that day forth, even as nations rose and fell, everyone would be able to recount the tale of the fearless Dragon Slayer.

[[END]]</tw-passagedata><tw-passagedata pid="26" name="King End" tags="" position="2106,65">What was-

Wait can they do that...?

Erh--well uhm....

Uh...well I guess (in a move unexpected by anyone) the hero ran his sword through the chest of the king and dropped him to the ground. The people, shocked and confused, had little choice but to pledge their fealty to him and the King&#x27;s fortunes had nowhere to go except the pockets of the hero.

With that, the hero became the new leader of the realm and lead everyone onward to a new age of light.

...I guess?

[[END]]</tw-passagedata></tw-storydata>