<tw-storydata name="TOJamStory" startnode="1" creator="Twine" creator-version="2.1.3" ifid="12FE191C-A28A-455E-907F-1E3524B98DC5" format="Harlowe" format-version="2.0.1" options="" hidden><style role="stylesheet" id="twine-user-stylesheet" type="text/twine-css"></style><script role="script" id="twine-user-script" type="text/twine-javascript"></script><tw-passagedata pid="1" name="Start " tags="" position="226.5,140">Splash screen etc.

[[Enter Tavern]]

</tw-passagedata><tw-passagedata pid="2" name="Enter Tavern" tags="" position="517.5,139.5">Eons ago before countless nations arose and crumbled to ash, an Age of Darkness crept forward. A prophet claimed a hero, forged from the hammer of jugement and virtue, would rise to battle the forces of darkness. A hero who defeated Gods of Chaos and any man alike was destined to carry the realm into a new era of light upon their hallowed shoulders.

In a tavern, a humble hero from a small village entered a tavern. This hero was destined for greatness.

The tavern was a humble one. Quaint family tapestries adorned the walls, the damp musk of ale hung in the air, and the walls echoed until the late hours of the night with the laughter of man and woman alike.

But all was not well in this unassuming hamlet, as the sound of horse hoovess clamoured loudly upon the sullen road outdoors...

[[Given Quest]]

[[Confirmation]]</tw-passagedata><tw-passagedata pid="3" name="Find &amp; Kill Dragon" tags="" position="1421.5,142.5">[[Rewarded By King Main]]

[[Dragon Standoff A]]</tw-passagedata><tw-passagedata pid="4" name="Enter Cave" tags="" position="1116.5,219">Three-branch path

If third option
[[Find &amp; Kill Dragon]]

If Option A
[[Hell Path A]]

If Option B
[[Goblin Path A]]
</tw-passagedata><tw-passagedata pid="5" name="Rewarded By King Main" tags="" position="1707,198.5">[[END]]

IF the alt ending boolean = true

[[ALT END]]</tw-passagedata><tw-passagedata pid="6" name="Confirmation" tags="" position="494,340.5">What-

I understand it is quite a lot of exposition and may not be starting the most interesting. 

Look just bear with me and play along and I swear the payoff will be great.

[[Condensed Story]]

[[TriggerAltEnd]]</tw-passagedata><tw-passagedata pid="7" name="TriggerAltEnd" tags="" position="628,345.5">*clears throat*

Good then - let us continue.

[[Given Quest]]</tw-passagedata><tw-passagedata pid="8" name="Condensed Story" tags="" position="508,576.5">OHHH fine, if you&#x27;re not going to play along and insist on being a little jerk then here&#x27;s the whole story:

The hero gets called on to kill a dragon - that&#x27;s right, a DRAGON - and they do. Then the king gives them a TON of gold and they become world famous. 

It&#x27;s great and there&#x27;s a bunch of cool fight scenes and it&#x27;s really atmospheric but CLEARLY you&#x27;re too busy to even play this.

If you really want to try again and you know, actually play it like a civilized human being then fine, but how about you wait for me to finish?

OTherwise have fun doing whatever was SO important that you couldn&#x27;t take *five minutes* to play a game, idiot.

[[END]]</tw-passagedata><tw-passagedata pid="9" name="Given Quest" tags="" position="818,218.5">A man strode across the tavern from the torrential downpour which reigned outdoors. He stepped upon a stool which brought him upon a table as he gazed upon his audience with scrutiny.

His armour, adorned with medals and honours, was only half as splendrous and magnificent as the man he obeyed - the Emperor of the land himself. The silk cape mounted upon his shoulders stood as a symbol of his fealty to his lord, the royal banner emblazoned upon the iron which formed to his chest. He was nothing short of royal.

The hero in all their timeless glory, laid down their goblet upon the table and rose to view the man&#x27;s glory. His eyes 

Upon the royal man&#x27;s examination of the lowly serfs who toiled and oggled about the room, the figure extended an arm, voice booming across the walls of the building.

&quot;Peasants!If any among you think of yourselves as men or women of power, splendor or strive to achieve magnificence in the eyes of your Emperor - let it be known he seeks a mighty hero who may lay waste to the Dragon who lives deep within the Volcano of Hate, step forward!&quot;





[[Enter Cave]]

[[CUP A]]</tw-passagedata><tw-passagedata pid="10" name="END" tags="" position="1796,1146.5">Thanks for playing, credits, loop to start screen</tw-passagedata><tw-passagedata pid="11" name="CUP A" tags="" position="818,339.5">[[CUP B]]</tw-passagedata><tw-passagedata pid="12" name="CUP B" tags="" position="817,539.5">More Cup description

[[CUP C]]


If left

[[Enter Cave]]</tw-passagedata><tw-passagedata pid="13" name="CUP C" tags="" position="817,740.5">MORE CUP DESCRIPTION

[[CUP D]]

If left

[[Enter Cave]]</tw-passagedata><tw-passagedata pid="14" name="CUP D" tags="" position="819,940.5">DIES WITH CUP, GOES TO END

[[END]]</tw-passagedata><tw-passagedata pid="15" name="Goblin Path A" tags="" position="1318,457.5">If left

[[Find &amp; Kill Dragon]]


If not
[[Goblin Path B]]</tw-passagedata><tw-passagedata pid="16" name="Hell Path A" tags="" position="1097,418.5">If left
[[Find &amp; Kill Dragon]]

[[Hell Path B]]</tw-passagedata><tw-passagedata pid="17" name="Hell Path B" tags="" position="1096,618.5">If left
[[Find &amp; Kill Dragon]]

[[Hell Path C]]</tw-passagedata><tw-passagedata pid="18" name="Hell Path C" tags="" position="1048,819.5">[[Hell Path D]]</tw-passagedata><tw-passagedata pid="19" name="Hell Path D" tags="" position="1118,1019.5">[[END]]</tw-passagedata><tw-passagedata pid="20" name="Goblin Path B" tags="" position="1318,568.5">[[Goblin Path C]]</tw-passagedata><tw-passagedata pid="21" name="Goblin Path C" tags="" position="1330,701.5">[[Goblin Path D]]</tw-passagedata><tw-passagedata pid="22" name="Goblin Path D" tags="" position="1494,799.5">[[END]]</tw-passagedata><tw-passagedata pid="23" name="Dragon Standoff A" tags="" position="1518,419.5">[[Dragon Standoff B]]</tw-passagedata><tw-passagedata pid="24" name="Dragon Standoff B" tags="" position="1517,544.5">[[Dragon Standoff C]]</tw-passagedata><tw-passagedata pid="25" name="Dragon Standoff C" tags="" position="1619,669.5">[[Dragon Standoff D]]</tw-passagedata><tw-passagedata pid="26" name="Dragon Standoff D" tags="" position="1718,821.5">Double-click this passage to edit it.</tw-passagedata><tw-passagedata pid="27" name="ALT END" tags="" position="1906,149.5">Ending with choice of reward

[[King End]]

[[Fame End]]

[[Money End]]</tw-passagedata><tw-passagedata pid="28" name="Money End" tags="" position="2107,351.5">You get rich

[[END]]</tw-passagedata><tw-passagedata pid="29" name="Fame End" tags="" position="2109,202.5">You get famour

[[END]]</tw-passagedata><tw-passagedata pid="30" name="King End" tags="" position="2107,65.5">Kill the King, Narrator confused]]

[[END]]</tw-passagedata></tw-storydata>